
body { font-family: arial, helvetica, sans-serif;  font-size: 12px; color: 000000 }

td { font-family: arial, helvetica, sans-serif;  font-size: 12px; color: 000000; line-height: 1.4; }

.subheader { font-family: arial, helvetica, sans-serif;  font-size: 12px; color: 000000; }

a:link {color: FBEED0;  font-family: verdana, arial, helvetica, sans-serif; font-weight: normal; font-size: 10px; text-decoration: underline}

a:visited {color: FBEED0;  font-family: verdana, arial, helvetica, sans-serif;  font-size: 10px; text-decoration: underline}

a:active {color: #ffffff;  font-family: verdana, arial, helvetica, sans-serif;  font-size: 10px; text-decoration: underline}

a:hover {color: #ffffff;  font-family: verdana, arial, helvetica, sans-serif;  font-size: 10px; text-decoration: underline}
