# Ignore pricebar CSV text files that I have stored in this directory.
pricebars

# Ignore PriceChartDocument (.pcd) files that I have stored in this directory.
PriceChartDocumentFiles

# Don't ignore this file.
!.gitignore
